<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 ie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title }}{% if page_title %} :: {% endif %}My Special Blog</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="Your Name Here">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>

<body>
  <header class="header--main">
    <a href="/" class="logo--main">
      <h1 class="header__heading">My Special Blog</h1>
    </a>
  </header>

  <main class="content--main" role="main">
    {% block site_main %}{% endblock %}
  </main>

  <footer class="footer--main">
      <p class="footer__copyright">&copy; 2014 Your Name Here.</p>
  </footer>

  <script src="{{ STATIC_URL }}script/cp-blog.js"></script>
</body>
</html>