{% load tagging_tags %}

<aside class="sidebar--right" id="sidebar_blog">

  <form class="sidebar__search" method="get" action="{% url 'blog_search' %}">
    <label for="search__input" class="search__label">Search</label>
    <input type="text" name="q" value="" placeholder="Search..." id="search__input" class="search__input"/>
  </form>


  <h3 class="sidebar__heading">Recent Posts</h3>
  <ul class="sidebar__ul--menu">
    {% for item in recent %}
    <li class="sidebar__li--menu"><a href="{% url 'blog_detail' item.slug %}" class="sidebar__li__a">{{ item.title }}</a></li>
    {% endfor %}
  </ul>

  <h3 class="sidebar__heading">Popular Posts</h3>
  <ul class="sidebar__ul--menu">
    {% for item in popular %}
    <li class="sidebar__li--menu"><a href="{% url 'blog_detail' item.slug %}" class="sidebar__li__a">{{ item.title }}</a></li>{% endfor %}
  </ul>

  <h3 class="sidebar__heading">Categories</h3>
  <ul class="sidebar__ul--menu">
    {% for item in categories %}
     <li class="sidebar__li--menu"><a href="{% url 'blog_entries_by_category' item.slug %}" class="sidebar__li__a">{{ item.title }}</a></li>{% endfor %}
  </ul>

  <h3 class="sidebar__heading">Tags</h3>
    <div class='sidebar_tagcloud'>
      {% get_tagcloud as blog_tags for 'blog.BlogEntry' %}{
      {% for tag in blog_tags %}
        {# {% if tag.weight|floatformat:0 != '1' %} #}
        <a href="/blog/tag/{{ tag.name|slugify }}/" class="sidebar_tag_{{ tag.weight|floatformat:0 }}">{{ tag.name }}</a>
        {# {% endif %} #}
      {% endfor %}
      <ul class="sidebar__ul--menu sidebar__ul--note">
        <li><a href="{% url 'blog_tags' %}" class="sidebar__tagcloud__note">See all tags for this
        blog &raquo;</a></li>
      </ul>
  </div>

  <h3 class="sidebar__heading" id="sidebar_archive">Archive</h3>
  <ul class="sidebar__ul--menu sidebar__ul--bottom">
    <li class="sidebar__li--menu"><a href="{% url 'blog_archive_date' %}" class="sidebar__li__a">Browse Posts By Date</a></li>
    <li class="sidebar__li--menu"><a href="{% url 'blog_archive_title' %}" class="sidebar__li__a">Browse Posts By Title</a></li>
  </ul>

  <a href="{% url blog_rss %}" class="sidebar__rss">
    <p class="sidebar__rss__p">RSS feed</p>
  </a>
</aside>