{% extends 'blog/blog_base.html' %}
{% load i18n %}
{% load taggit_extras %}
{% load pygmentify %}

{% block head_prefix %}og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#{% endblock %}
{% block meta_description %}{% if entry.description %}{% autoescape off %}{{ entry.description|addslashes }}{% endautoescape %} {% endif %}{% autoescape off %}{{ entry.body|striptags|addslashes|truncatewords:"40" }}{% endautoescape %}{% endblock %}
{% block og_title %}{{ entry.title }}{% endblock %}
{% block og_description %}{% if entry.description %}{% autoescape off %}{{ entry.description|addslashes }}{% endautoescape %} {% endif %}{% autoescape off %}{{ entry.body|striptags|addslashes|truncatewords:"40" }}{% endautoescape %}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_img %}{% if entry.image.url_600x900 != '' %}{{ entry.image.url_600x900 }}{% else %}{{ STATIC_URL }}img/logo_main.png{% endif %}{% endblock %}

{% block body_id %}pg_blog{% endblock %}

{% block content_main %}
  <section class="main--left">
    <article class="main__article main__article--single">

      <h1 class="article__title"><a href="{% url 'blog_detail' entry.slug %}">{{ entry.title }}</a></h1>

      {% if entry.description %}<h2 class="article__subtitle">{{ entry.description }}</h2>{% endif %}

      {% if entry.status_display != 'Public' %}
      <p class="flash--notice">This article is not published! Its status is {{ entry.status_display }}.</p>
      {% endif %}

      {% if entry.image %}
        <div class="article__image_wrap">
          <img src="{{ MEDIA_URL }}{{ entry.image }}" alt="{{ entry.title }}" class="article__image--main"/>
        </div>
      {% endif %}

      {{ entry.body|safe|pygmentify }}

      <p class="article--meta">
        Posted on
        <time pubdate="pubdate">{{ entry.entry_date }}</time>
                  {% if entry.tags %}<span class="article__tags">
                    Tags: {% for tag in entry.tags.all %} <a href="/blog/tag/{{ tag }}/">{{ tag }}</a>
                        {% if not forloop.last %}, {% endif %}{% endfor %}
                    </span>{% endif %}
      </p>

      {% if disqus_shortname and entry.allow_comments %}
        <a name="disqus_thread"></a>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = '{{ disqus_shortname }}';
          var disqus_identifier = '{{ entry.id }}';
          var disqus_title = '{{ entry.title }}';
          var disqus_url = window.location.origin + '{{ entry.get_absolute_url }}';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
      {% endif %} {# end of "if disqus_shortname and entry.allow_comments" #}

    </article>
  </section>
{% endblock %}