{% extends 'blog/blog_base.html' %}
{% load i18n %}
{% load taggit_extras %}
{% load pygmentify %}
{% load comments %}

{% block body_id %}pg_blog{% endblock %}

{% block content_main %}
  <section class="main--left">
    <article class="main__article main__article--single">

      <h1 class="article__title"><a href="{% url 'blog_detail' entry.slug %}">{{ entry.title }}</a></h1>

      {% if entry.description %}<h2 class="article__subtitle">{{ entry.description }}</h2>{% endif %}

      {% if o.status_display != 'Public' %}
      <p class="flash--notice">This article is not published! Its status is {{ entry.status_display }}.</p>
      {% endif %}

      {% if entry.image %}
        <div class="article__image_wrap">
          <img src="{{ MEDIA_URL }}{{ entry.image }}" alt="{{ entry.title }}" class="article__image--main"/>
        </div>
      {% endif %}

      {{ entry.body|safe|pygmentify }}

      <p class="article--meta">
        Posted on
        <time pubdate="pubdate">{{ entry.entry_date }}</time>
                  {% if entry.tags %}<span class="article__tags">
                    Tags: {% for tag in entry.tags.all %} <a href="/blog/tag/{{ tag }}/">{{ tag }}</a>
                        {% if not forloop.last %}, {% endif %}{% endfor %}
                    </span>{% endif %}
      </p>

      {% comment %}
      {% if entry.allow_comments %}

        {% get_comment_list for entry as comment_list %}
        {% if comment_list %}

          <a name="comments"></a>

          <h3 class="article__comments__title">Comments</h3>
          <ul class="article__comments">
            {% for comment in comment_list|fill_tree|annotate_tree %}
              {% if comment.is_public %}
                <li class="comments__comment comment_
                        {{ comment.depth }}{% if comment.last %} comment_last{% if not comment.open %} comment_close{% endif %}{% endif %}{% if not comment.close %}{% ifequal comment.depth 1 %} comment_open{% endifequal %}{% else %}{% ifequal comment.depth 1 %}{% if comment.open %} comment_close comment_open{% endif %}{% endifequal %}{% endif %}{% if not comment.parent_id %} ornament{% else %} reply_ornament{% endif %}">
                  <a name="c{{ comment.id }}"></a>
                  {{ comment.comment|urlize|linebreaks }}
                  <p class="comment__meta">
                    Posted by: {% if comment.url %}<a href="{{ comment.url }}">{{ comment.name }}
                    </a>{% else %}{{ comment.name }}{% endif %}{% if comment.parent_id %} in reply
                    to{% if comment.parent.url %}<a href="{{ comment.parent.url }}">
                      {{ comment.parent.name }}</a>{% else %}{{ comment.parent.name }}
                    {% endif %}{% endif %} on {{ comment.submit_date|date }}<span
                      class="comment__permalink_wrap"> &bull; <a
                      href="{% url 'blog_detail' entry.slug %}#c{{ comment.id }}" class="comment__permalink">permalink</a></span>
                    {# DEPTH {{ comment.depth }} CLOSE {{ comment.close }} OPEN {{ comment.open }} #}
                    <a id="c_{{ comment.id }}" class="comment__reply"
                       href="javascript:show_comment_reply('{{ comment.id }}','{{ comment.name }}')">Reply
                      <span class="comment__reply_icon">  ↩</span></a>
                  </p>

                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

        {% if entry.comments_open %}
          <div class="comment_form">
            <h4 class="blogpost_subtitle">Reply to Original Post:</h4>
            <a name="comments"></a>
            {% get_comment_form for entry as form %}
            <form id="comment_orig_form" action="/comments/post/" method="post">
              <ul>
                {% for field in form %}
                  {% ifnotequal field.name "title" %}
                    {% if field.is_hidden %}
                      <li style="display:none;">{{ field }}</li>
                    {% else %}
                      {% ifequal field.name "comment" %}
                        <li class="comment_form_textarea{% if field.errors %} error{% endif %}">
                          {{ field.label_tag }}{{ field }}
                        </li>
                      {% else %}
                        <li {% if field.errors %} class="error"{% endif %}
                            {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                          {{ field.label_tag }}{{ field }}
                        </li>
                      {% endifequal %}
                    {% endif %}
                  {% endifnotequal %}
                {% endfor %}
              </ul>
              {% csrf_token %}
              <input type="hidden" name="next" value="{% url 'blog_detail' entry.slug %}#comments"/>
              <input type="submit" value="Submit Comment" id="comment_form_submit"/>
              <input type="submit" value="Preview Comment" name="preview" id="comment_form_preview"/>
            </form>
          </div>
        {% else %}
          <p class="article__note">Comments on this post are closed.</p>
        {% endif %}

      {% endif %} {# end of "if entry.allow_comments" #}
      {% endcomment %}
    </article>
  </section>
{% endblock %}

{% comment %}
{% block extra_javascript %}

  function show_comment_reply(parent_id, reply_to_name){
  var reply_btn = $('#c_' + parent_id);
  var old_form = $("#comment_orig_form").html();
  var new_form = $( new Array(
  '
  <div class="comment_form comment_form_reply"><p class="comment_reply_title">Reply to ' + reply_to_name + ':</p>',
    '
    <form action="/comments/post/" method="post">',
      old_form,
      '<input type="hidden" name="parent" value="' + parent_id + '" id="id_parent"
              rel="comment_' + parent_id + '"/>',
      '
    </form>
  </div>').join(''));
  reply_btn.after(new_form);
  new_form.fadeIn(function() {
  reply_btn.replaceWith('<a id="c_' + parent_id + '" class="comment_reply" style="padding-right: 4px;"
                            href="javascript:hide_comment_reply('+ parent_id +');" rel="' + reply_to_name + '">Cancel
  Reply &nbsp;</a>');
  });
  }

  function hide_comment_reply(parent_id){
  var reply_btn = $('#c_' + parent_id);
  var name = reply_btn.attr("rel");
  var form = reply_btn.next('.comment_form_reply');
  reply_btn.replaceWith('<a id="c_' + parent_id + '" class="comment_reply"
                            href="javascript:show_comment_reply(\'' + parent_id + '\', \'' + name + '\')">Reply <span
    class="comment_reply_icon">  ↩</span></a>').remove();
  form.fadeOut();
  }

{% endblock %}

{% block extra_jquery %}
  $('form').live("submit", function(){
  var action = $(this).attr("action");
  if(action == "/comments/post/"){
  var form = $(this);
  var name = form.find("#id_name").val();
  var email = form.find("#id_email").val();
  var url = form.find("#id_url").val();
  var comment = form.find("#id_comment").val();
  if(name == ""){
  alert("Please enter your name.");
  form.find("#id_name").focus();
  return false;
  } else if(email == ""){
  alert("Please enter your email address.");
  form.find("#id_email").focus();
  return false;
  } else if(comment == ""){
  alert("Please enter a comment.");
  form.find("#id_comment").focus();
  return false;
  }

  }
  });
{% endblock %}
{% endcomment %}
