{% extends 'blog/blog_base.html' %}
{% load i18n %}
{% load taggit_extras %}

{% block og_title %}Blog Entries by Date{% endblock %}

{% block og_description %}My blog. This page lists all articles by date.{% endblock %}

{% block body_id %}pg_blog{% endblock %}

{% block content_main %}
  <section class="main--right">
    <h1 class="article__title article__title--list">Blog Entries by Date</h1>

    <ul class="list--fullsize">
      {% for month in months %}
        {% ifchanged month.0 %}
        <li class="list--fullsize__divider">{{ month.0 }}</li>{% endifchanged %}
        <li class="list--fullsize__li"><a href="{% url 'blog.views.month' month.0 month.1 %}" class="list--fullsize__li__a">{{ month.2 }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}