{% extends 'blog/blog_base.html' %}
{% load i18n %}
{% load taggit_extras %}

{% block body_id %}pg_blog{% endblock %}

{% block content_main %}
  <section class="main--left">
    <h1 class="article__title">Tags used in this blog:</h1>

    <div class="tag_cloud_lg">
      {% get_tagcloud as tags for 'blog.BlogEntry' %}
      {% for tag in tags %}
        <a href="/blog/tag/{{ tag.name|slugify }}/"
           class="main_tag main_tag_{{ tag.weight|floatformat:'0' }}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
